*.db
*.DS_Store
*.env
*.pyc
*__pycache__/
*venv/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.cache
.env
*.yaml
*.log
*.so
*.mypy_cache
*.vscode/
*logfiles/