Flask == 1.1.2
aiofiles == 0.6.0
aiohttp == 3.7.4.post0
asyncpraw == 7.5.0
discordLevelingSystem == 1.0.2
easy_pil == 0.1.0
gTTS == 2.2.2
google_api_python_client == 2.29.0
mutagen == 1.45.1
numexpr == 2.8.1
psutil == 5.9.0
py_cord == 2.0.0b1
pyfiglet == 0.8.post1
python_dotenv == 0.15.0
pyttsx3 == 2.90
qrcode == 7.3.1
requests == 2.25.1
sidspackage == 0.0.4
simpcalci == 0.0.2
wget == 3.2
wikipedia == 1.4.0
youtube_dl == 2021.6.6
youtube_search_python == 1.4.9
